.background-wrapper {
    background: linear-gradient(
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)),
    url("../img/back.jpg") no-repeat;
    background-size: cover;
    height: 800px;
}

.header-block {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: 100px;
    object-fit: cover;
}

.visit-btn {
    font-family: sans-serif;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 18px 45px;
    background-color: #51e8e5;
    margin-right: 65px;
    border-radius: 7px;
}

.board {
    background-color: #eaf9e3;
    width: 70%;
    height: 300px;
    margin: 30px auto;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
}

.wrapper-form {
    width: 100%;
    height: 100%;
    background-color: #687272;
    opacity: 0.8;
    position: absolute;
    top: 0;
    display: none;
    z-index: 5;
}

.titleWrapp {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    padding-left: 45px;
}

.closeBtn {
    font-weight: bold;
    font-size: 14px;
    border-radius: 50%;
    padding: 5px;
    background-color: #2bbfba;
    cursor: pointer;
    color: #fff;
}

.create-btn {
    margin: 10px 0;
    padding: 5px 5px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #2bbfba;
    color: #fff;
}

.select-doctor {
    width: 200px;
    height: 50px;
    border: 2px solid #51e8e5;
    border-radius: 3px;
}

.doctor {
    text-align: center;
}

.visit-info {
    background-color: #b1dddc;
    margin: 40px auto;
    width: 300px;
    border-radius: 5px;
    text-align: center;
}

.general {
    height: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.general:focus {
    border: 1px solid #51e8e5;
}

.input-list {
    height: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.cardiologist {
    /*display: none;*/
}

.dantist {
    display: none;
}

.text-area {
    min-width: 70%;
    max-width: 90%;
    margin-top: 10px;
}

.visitor-card {
    width: 150px;
    border-radius: 3px;
    border: 3px solid #2bbfba;
    background-color: white;
    position: relative;
    user-select: none;
    overflow: auto;
}

.close-card {
    padding: 2px;
    background-color: #2bbfba;
    border-radius: 50%;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.show-more {
    background-color: #2bbfba;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px;
    color: white;
    text-align: center;
}

.no-item {
    font-size: 20px;
    margin: 120px auto;

}
